# Python
__pycache__/
*.pyc
*.pyo
coding_challenges/activate/
coding_challenges/env/
coding_challenges/path/to/venv/
**/.venv/
**/venv/
flashcard_generator/.venv/

# Environment
.env
.env.*
!.env.example

# Certificates
certs/
certbot/

# Mongo data
mongo/

# Logs
*.log
*.old

# VSCode
.vscode/

# Docker volumes
data/
exam_bank/private/
